.jumbotron { font-size: 14px; line-height: normal;}
#ZeroClipboardMovie_2{ position: absolute;}
#page {padding-bottom: 60px;}
.footer{ text-align: center; width: 100%;}
#date-timestamp{ width: 160px; margin-right: 5px;}
#time-timestamp{ width: 90px;}
.input{ float: left; }
.input input{ display: inline; }
#form-inputs{width:297px;}